@tailwind base;
@tailwind components;
@tailwind utilities;

.logo span{
    display: none;
    cursor: pointer;
}
.header{
position:absolute;
z-index: 20;
width: 100%;
}
.navsmobile{
    display: none;
}
.navs{
    gap: 10px;
    z-index: 20;
}
.content{
    margin-bottom: 50px;
}
.section1{
    position:relative;
    height: 400px;
    background: url('./assets/images/juicebg.jpg');
    background-color:rgba(0, 0, 0, 0.534);
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 70px;
}
.projects, .topbooks{
    margin-bottom: 100px;
}
.accessbtn{
    padding: 2px 10px;
    border: 1px solid;
    display: flex;
    align-items: flex-end;
    color: rgb(171, 255, 171);
    border-radius: .5em;
}
.box{
    width: 50%;
    max-width: 700px;
}
.box picture{
    width:50%;
}
.box img{
    width:100%;
}
.box .content{
    width:50%;
    display: flex;
    align-items: flex-end;
}

@media (max-width:700px) {
    .content{
        padding-top: 100px;
        text-align: center;
    }
    .bgimage img{
        display: none;
    }
    .navs{
        display: none;
    }
    .navsmobile{
        width: fit-content;
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* top: 65px; */
        right:40px;
        backdrop-filter: blur(5px);
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        z-index: 200;
    }
    .navsmobile li{
        border: 1px solid;
        padding:5px 10px;
        font-size: 12px;
        border-radius: .5em;
    }
    .logo span{
        display: block;
    }
    .logo img{
        width: 25px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }



}